.container {
    width: 80%;
	margin: 5px auto;
	display: flex;
}

.item {
    max-width : 100px;
	margin: auto 5px;
	font-size: 1.0em;
}


.address {
    background: rgb(242, 255, 168);
    width: 15px;
	text-align: center;
}