.container {
    margin: 50px 25px 0 25px;
    border: 1px solid #000000;
    min-width: 200px;
    height: min-content;
    padding-bottom : 25px
  }

  h1 {
    text-align: center;
  }


.btns_container {
    display: flex;
    flex-direction: column;
    place-items: center;
}

button {
    margin: 10px 10px 10px 10px
}