.regs_container {
  margin: 25px 5px 0 5px;
  border: 1px solid #000000;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.internal_regs_container {
  display : grid;
  grid-template-columns: auto auto;
  place-items: center;
}
  
h2 {
  
  text-align: center;
}