.container {
    min-width: 250px;
    border: 1px solid #000000;
    margin: 20px auto;
    padding-bottom: 30px;
    margin: 25px 5px 0 5px;
    height:fit-content;
    align-content: center;
}

h2 {
    text-align: center;
}


.btns_container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}

button {
    margin: 10px 10px 10px 10px
}