.container {
    width: 150px;
    border: 1px solid #000000;
    padding-bottom: 15px;
    height:fit-content;
    align-content: center;
}

h2 {
    text-align: center;
}


.btns_container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}

button {
    margin: 5px 5px 5px 5px
}